// 缩小表格行高
.el-table td, .el-table th {
  padding: 5px 0;
}

// 缩小表单元素间距
.el-form-item {
  margin-bottom: 15px;
}

// 上传控件样式
.cover-uploader .el-upload {
  border: 1px dashed #d9d9d9;
  border-radius: 6px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
.cover-uploader .el-upload:hover {
  border-color: #409EFF;
}
.cover-uploader-icon {
  font-size: 28px;
  color: #8c939d;
  width: 146px;
  height: 146px;
  line-height: 146px;
  text-align: center;
}
.cover {
  width: 178px;
  height: 178px;
  display: block;
}

// 修复表单项的行高导致vue-croppa, quill样式错乱的问题
.el-form-item.no-line-height .el-form-item__content {
  line-height: unset;
}